@use './variables.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.5;
  background-color: $bg-page;
  color: $text-primary;
  overflow: hidden;
  // 字体渲染优化
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input, textarea {
  outline: none;
  border: none;
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none !important;
}